{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block title %}Вход{% endblock %}

{% block content %}
<section class="block">
    <div class="container">
        <h1 class="title">Вход</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.password|as_crispy_field }}
            </div>
            <button type="submit" class="button is rounded is-light">Войти</button>
            <p>Если у вас нет аккаунта, пройдите <a href="{% url 'sign_up_page' %}">регистрацию</a></p>
        </form>
    </div>
</section>

<style>
    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
    }

    .title {
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
    }


    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }


    p {
        text-align: center;
        margin-top: 20px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

</style>

{% endblock %}
